arabic-reshaper==3.0.0
asgiref==3.9.1
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
Brotli==1.1.0
cffi==2.0.0
channels==4.3.1
charset-normalizer==3.4.4
constantly==23.10.4
cryptography==46.0.2
cssselect2==0.8.0
daphne==4.2.1
Django==5.2.6
django-filter==25.1
django-weasyprint==2.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
fonttools==4.60.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
jalali_core==1.0.0
jdatetime==5.2.0
Markdown==3.9
pdf2image==1.17.0
pillow==11.3.0
psycopg-binary==3.2.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydyf==0.11.0
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyphen==0.17.2
python-bidi==0.6.6
python-dotenv==1.1.1
reportlab==4.4.4
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
weasyprint==66.0
webencodings==0.5.1
zope.interface==8.0.1
zopfli==0.2.3.post1
