
.mainnew {
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: black;
    padding: 10px;

    font-family: 'Vazir', sans-serif;
    direction: rtl;
    font-weight: 900;
}

.redright {
    position: absolute;
    top: 0px;
    right: -67px;
    background-color: red;
    width: 50px;
    height: 250px;
    z-index: 50;
}

.redleft {
    position: absolute;
    bottom: 0px;
    left: -67px;
    background-color: red;
    width: 50px;
    height: 250px;
    z-index: 50;
}

.logo {
    width: 70px;
    height: 70px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.headercontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:-20px;

}

.headertext {

}